.time {
    grid-area: 1 / 7 / 1/ 8;
    padding: 2px;
    /* height: 20px; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}
#clock{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}